<div id="calculadora">
    <h1> calculadora Pro</h1>
    <input type="text" value='{{pro}}'>
</div>
<div id="calculadora2">
    <!-- Campos Numeritos-->
    <input type="button" value=1 (click)="colocar(1)" id="numeros">
    <input type="button" value=2 (click)="colocar(2)" id="numeros">
    <input type="button" value=3 (click)="colocar(3)" id="numeros">
    <input type="button" value=4 (click)="colocar(4)" id="numeros">
    <input type="button" value=5 (click)="colocar(5)" id="numeros">
    <input type="button" value=6 (click)="colocar(6)" id="numeros">
    <input type="button" value=7 (click)="colocar(7)" id="numeros">
    <input type="button" value=8 (click)="colocar(8)" id="numeros">
    <input type="button" value=9 (click)="colocar(9)" id="numeros">
    <input type="button" value=0 (click)="colocar(0)" id="numeros">
</div>

<div id="simbolos">
    <!-- Campos Símbolos-->
    <input type="button" value="X" (click)="multiplicarPro()" id="operaciones">
    <input type="button" value="/" (click)="dividirPro()" id="operaciones">
    <input type="button" value="+" (click)="sumarPro()" id="operaciones">
    <input type="button" value="-" (click)="restarPro()" id="operaciones">
    
</div>
