#calculadora{
    display: grid;
    justify-content: center;
}

#calculadora2{
    display: flex;
    justify-content: center;
}

#calculadora2 > #numeros{
    background-color: blue;
    color: aquamarine;
}

#simbolos{
    display:flex;
    justify-content: center;
    
}