$colores : purple, aqua, black, rgb(66, 8, 66), white;
$colores2: (
    color1 : pink,
    color2: yellow,
    color3: orange
);
$grosor: 3px;
$distancia: 20px;
$distanciaBloque: 8%;
$alineacion: center;
