body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9c5e7;
}

h1 {
    text-align: center;
    padding: 10px;
    border-style: double;
    justify-content: center;
    border-color: #1b126d;
    margin-left: 30%;
    margin-right: 30%;
}

#anuncioIMG{
    border-style: solid;
}

#anuncio{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.795);
}

a:link, a:visited, a:active {
    text-decoration:none;
    background-color: #7d75bd;
    color:white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#cabezera{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #7d75bd;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
}


#titulo{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#5448c5;
    
    text-shadow: 0 1px 0 #cccccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb, 
                0 4px 0 #b9b9b9, 
                0 5px 0 #aaa, 
                0 6px 1px rgba(0, 0, 0, .1), 
                0 0 5px rgba(0, 0, 0, .1), 
                0 1px 3px rgba(0, 0, 0, .3), 
                0 3px 5px rgba(0, 0, 0, .2), 
                0 5px 10px rgba(0, 0, 0, .25), 
                0 10px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15) ;   
}

#contenido{
    background-color: rgba(255, 255, 255, 0.671);
    border-style: solid;
    border-radius: 10%;
    padding: 5%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}


#contenidoRegistro{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.671);
    border-style: solid;
    border-radius: 10%;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}


button{
    background-color: #1b126d;
    color: white;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#anuncio{
    display: flex;
    justify-content: center;

}

h2{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1b126dab;
    color: white;
    padding-top: 5%;
}
