/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-dic-2020, 12:44:25
    Author     : IES TRASSIERRA
*/
.main-section {
    margin: 0 auto;
  
    /* margin-top: 5%; */
    padding: 10px;
    width: 500px;
    height: 400px;
    float: left;
}
.modal-content {
    background-color: rgb(187, 174, 174);
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.modal-content-tablero {
     background-color: rgb(187, 123, 123); 
    opacity: .85;
    padding: 0 20px;
    /* box-shadow: 0px 0px 3px #848484; */
    width:700px;
    height:400px;
    border-radius: 5px;
    
}
.titulo h2 {

    color: #8C004B;
    display: block;
    font-family: BroadWay;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #CCCCCC;
    margin: auto;
}



img {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group input {
    height: 42px;
    width:250px;
    font-size: 14px;
    border: 0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before {
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 3px;
    font-size: 20px;
    padding-top: 4px;
}

.form-group#user::before {
    content: "\f007";
}

.form-group#age::before {
    content: "\f502";
}




span{
    color:red;
    font-size:10px
}
button{
    width:100px
  
}
.baraja{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right: auto;
    height:210px;
    border: 1px solid #ddd;
}
.puntuacion{
    font-size: 30px;
    font-weight: bold; 
    text-align: right;
    width:70px;
    text-align:center;
}
#tablero{
    visibility:hidden;
}


