#gif-movimiento {
    position: absolute;
    top: 0;
    right: 50%; 
    animation: mover-izquierda 7s linear infinite;
}

body{
    overflow-x: hidden;
}

img {
    width: 180px;
    height: auto; 
}

@keyframes mover-izquierda {
    0% { right: 80%; }
    100% { right: -80%; } 
}

.boton{
    background-color: pink;
}