body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("fondo.jpg");
    background-color: #131007;
    background-size: 100vw 120vh;
    background-repeat: repeat;
}

@media only screen and (max-width: 768px) {
    body {
      width: 100%;
      padding: 10px;
    }
}

#header {
    position: absolute;
    padding: 30px 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 0, 139, 0.5);
  }
  
  .modal-content {
    background: linear-gradient(to bottom, #ebb3cf, #ffffff); 
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 40%;
    max-width: 200px;
  }

  @media only screen and (max-width: 600px) {
    .modal {
        max-width: 100%;
    }
}  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
 #opciones {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 180px;
    margin-top: 10px;
    transition: box-shadow 0.3s;
    margin-right: 50px;
    text-decoration: none; 
    cursor: pointer; 
    color: black;
    font-family: 'Lora', serif;
  }

  #opciones:hover{
    color: white;
    font-style: oblique;
    background-color: #5b327c;
    box-shadow: 0 0 10px rgba(139, 0, 139, 0.7);
  }


#menu {
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 20%;
    padding: 10px;
}

#menu p {
    margin: 0; 
    font-size: x-small;
}

#menu strong {
    font-weight: bold;
}

#containerP1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 15%;
    padding-bottom: 20%;
}

  
#containerP2 {
    background-color: #131007;
    background-size: cover;
    background-position: center;
    background-position: reverse;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 250px;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    color: white;
    justify-content: space-between;
}

#containerKpop{
    background-color: #131007;
    background-size: cover;
    background-position: center;
    background-position: reverse;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
    color: white;
    justify-content: space-between;
}

/*n Para poner amarillas las letras de la búsqueda */
.highlight {
    background-color: yellow;
  }

#containerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    padding-top: 15%;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    
}

@font-face {
    font-family: 'VinaSans';
    src: url('VinaSans-Regular.ttf') format('truetype');
}

.music1, .music2, .music3, .music4 {
    font-family: 'VinaSans', sans-serif;
    font-size: 2em;
    text-shadow: 
      -2px -2px 0 rgb(71, 71, 71),  
       2px -2px 0 rgb(71, 71, 71),
      -2px 2px 0 rgb(71, 71, 71),
       2px 2px 0 rgb(71, 71, 71);
    background-color: pink;
    padding: 60px;
    border-style: solid;
    border-color: rgb(71, 71, 71);
    transition: transform 0.3s ease-in-out;
}

.music1{
    background-image: url('https://i.pinimg.com/564x/be/4f/92/be4f92d77b7923d6da79b4ce623f063a.jpg');
    background-size: cover;
    background-position: center;
}

.music2{
    background-image: url('https://i.pinimg.com/564x/35/51/56/3551568294779de6efa090025a395e1f.jpg');
    background-size: cover;
    background-position: center;
}

.music3{
    background-image: url('https://i.pinimg.com/564x/81/86/3e/81863e671cd503d8eba993526a3e34a7.jpg');
    background-size: cover;
    background-position: center;
}

.music4{
    background-image: url('https://i.pinimg.com/564x/8d/22/52/8d2252166626884b28284082f7b94b8d.jpg');
    background-size: cover;
    background-position: center;
}

.music1:hover,.music2:hover,.music3:hover,.music4:hover {
    transform: translateX(-50px);
  }

#containerP1 h1 {
    font-size: 3em;
}

#imgGrande{
    display: flex;
    justify-content:center;
    margin-top: 0;
}
#imgGrande > img{

    margin-left: 50px;
    animation: rotateAnimation 1s linear infinite;
}
h5, h2{
    color:white;
    font-size:x-large;
    font-family: 'Aclonica', sans-serif;
    justify-content: space-around;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(49, 49, 49);
}

h2{
    position: inherit;
    animation:  moverse 15s linear;
}

@keyframes moverse {
    0% {
        transform: translateX(-550px);
        opacity: 0;
    }
    50% {
        transform: translateX(550px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@font-face {
    font-family: 'Aclonica';
    src: url('Aclonica-Regular.ttf') format('truetype');
}

img{
    height: 150px;
    width: 250px;
    border-radius: 20px;
}

/* Aqui se ejecuta el codigo de la animacion a traves de Keyframes que hace que las imagenes "bailen" */
@keyframes rotateAnimation{
    0%,50% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


h1 {
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Aclonica', sans-serif;
    color: white;
}

#logoPrincipal {
    float: left;
    height: 150px; 
    width: auto; 
}

#titulo{
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Aclonica', sans-serif;
    color: white;
}

#search {

    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
}

#menu {
    margin-left: 10px;
    float: right;
}

#title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#buscador{
    width: 700px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.589);
}

#buscador::placeholder {
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    font-size: 15x; 
    text-transform: uppercase; 
    color: #00000096;
}


#toggleButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    width: 400px;
    height: 80px;
    background-image: linear-gradient(rgb(109, 2, 109), rgb(134, 105, 240),rgb(143, 74, 143));
}

#part2 {
    display: none;
    padding: 20px;
}

#imageContainer {
    text-align: center;
}

#footer {
    background-color: #131007;
    color: #fff;
    margin:0;
    text-align: center;
    display: block;
    height: auto;
    font-size: xx-small;
    margin-top: 70px;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

#footer2 {
    background-color: #131007;
    color: #fff;
    margin:0;
    text-align: center;
    display: block;
    height: auto;
    font-size: xx-small;
    
    padding: 20px;
    width: 100%;
    bottom: 0;
}

p{
    margin:0;
}

html {
    scroll-behavior: smooth;
}