body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("fondoweb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* #container {
    text-align: center;
    background-color: #f0f0f0b7;
    padding: 20px;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom:100px;
    margin-top: 45%;
    margin-left: 35%;
    margin-right: 35%;
}
#containerGrande1{
    display: block;
    align-items:flex-end;
    justify-content: space-between;
    text-align: center;
    background-color: #f0f0f0b7;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 25%;
    margin-left: 8%;
    margin-right: 8%;
}

#cabecera{
    background-color: rgba(255, 255, 255, 0.425);
}

#cabecera:first-child img{
    size: 80%;

} 


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}*/


#containerP1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    /* height: 100%; */
}

h5{
    color:white;
    font-family: "serif";
    justify-content: space-around;
}

#header {

    padding: 30px 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

h1 {
    font: 900;
    font-size: 150px;
    text-transform: uppercase;
    color: #b092cc;
    text-shadow: 0  2px  0   #613486,
                0  4px  0   #5c218b,
                0  6px  0   #5e116e, 
                0  8px  0   #4c0e5f, 
                0 10px  0   #450c50,
                0 12px  0   #340a41,
                3px 8px 15px rgba(0,0,0,0.1),
                3px 8px  5px rgba(0, 0, 0, 0.3);
}

#logoPrincipal {
    float: left;
    height: 150px; 
    width: auto; 
}

#search {
    margin-left: 40px;
    margin-right: 20px;
    display: inline-block;
}

#menu {
    margin-left: 10px;
    float: right;
}

#title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#buscador{
    width: 900px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.589);
}

#buscador::placeholder {
    font-family: "Comic Sans MS", cursive;
    font-weight: bold;
    font-size: 15x; 
    text-transform: uppercase; 
    color: #00000096;
}


#toggleButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    width: 600px;
    height: 80px;
}

#part2 {
    display: none;
    padding: 20px;
}

#imageContainer {
    text-align: center;
}

#footer {
    background-color: #8d8d8d50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;
}