@import 'index.css';

@media only screen and (max-width: 600px) {
    .modal {
        max-width: 100%;
    }

    body {
      width: 100%;
      padding: 10px;
    }
/*
    #header {
        padding: 15px 0; /* Modificado para pantallas pequeñas 
    }*/

   /*   .modal-content {
        width: 80%; Modificado para pantallas pequeñas 
    }

    .close {
        font-size: 24px; /* Modificado para pantallas pequeñas 
    }*/

    #header {
        padding: 5px; /* Reducción del relleno para dispositivos móviles */
    }

    #search {
        margin-left: 5px; /* Separación aún más reducida para dispositivos móviles */
    }

    #playPauseButton {
        font-size: x-small; /* Tamaño de fuente aún más reducido para dispositivos móviles */
    }

    #menu {
        margin-right: 5px; /* Separación aún más reducida para dispositivos móviles */
    }

    #myModal {
        width: 100%; /* Ancho completo para dispositivos móviles */
    }

    .modal-content {
        width: 90%; /* Ancho aún más reducido para dispositivos móviles */
    }

    #opciones {
        font-size: x-small; 
    }
    /* Tamaño de fuente aún más reducido para dispositivos móviles 
    }

    #opciones {
        height: 40px; 
        width: 80%; 
        margin-right: auto;
        margin-left: auto;
    }

    #menu {
        border-radius: 10px; 
    }
*/
    #menu p {
        font-size: small;
    }

    #logoPrincipal {
        height: 100px; 
    }

    #search {
        margin-left: 10px;
        margin-right: 10px; 
        display: inline-block;
        margin-bottom: 10px; 
    }

   /* #menu {
        margin-left: 0; 
        float: none; 
    }*/

    #containerP1 {
        padding-top: 20%; 
        padding-bottom: 10%;
        margin-top: 80px;
        width: auto;
        height: auto;
        position: relative;
    overflow: hidden;
    }

    #toggleButton{
        width: auto;
        height: auto;
    }

    section{
        width: auto;
        height: auto;
    }

    #containerP2 {
        padding-top: 100px;
        height: auto; 
    }

    .music1, .music2, .music3, .music4 {
        font-size: 1.5em;
        padding: 30px; 
    }

}