body{
    background-image: src('/img/fondo.jpg');
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
}

#avatar{
    border-radius: 100%;
    width: 200px;
    height: 180px;
}