body{
    background-image: url('/img/fondo.jpg');
}

@font-face {
    font-family: 'WedgieRegular';
    src: url('wedgie Regular.ttf') format('truetype');
}

h1{
    font-family: 'WedgieRegular', sans-serif;
    margin-right: 30%;
    color: purple;
}

header{
    display: flex;
    justify-content:space-between;
}

#avatar{
    border-radius: 100%;
    width: 180px;
    height: 160px;
    border-color: rgb(90, 7, 158);
    border-style: dashed;
}

footer{
    background-color: #33333371;
    color: white;
    padding: 20px;
    margin-top: auto;
}

.container1{
    display: flex ;
    justify-content: space-between;
}

.container2{
    display: column;
    justify-content: center;
}
.container3{
    display: flex ;
    justify-content: center;
}

#img1{
    width: 330px;
    height: 220px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.589);
}

#img2{
    width: 250px;
    height: 220px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.589);
}

#img3{
    width: 550px;
    height: 280px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.589);
}

.texto{
    display: flex;
    justify-content: center;
}

#miniTitulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#img4{
    width: 280px;
    height: 280px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.589);
}

a{
    text-decoration: none;
    display: flex;
}

/* Estilos para los audios */

audio{
    background-color: rgba(214, 129, 247, 0.822);
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
}

audio::-webkit-media-controls-play-button{
    background-color: purple;
    border-radius: 5px;
}

audio::-webkit-media-controls-timeline{
    background-color:rgba(126, 114, 207, 0.5);
    border-radius: 15px;
}

audio::-webkit-media-controls-current-time-display{
    color: rgb(127, 127, 255);
}

audio::-webkit-media-controls-time-remaining-display{
    color:rgb(14, 5, 94);
}

