body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("fondoweb.jpg");
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

#container {
    text-align: center;
    background-color: #f0f0f0b7;
    padding: 20px;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom:100px;
    margin-top: 45%;
    margin-left: 35%;
    margin-right: 35%;
}
#containerGrande1{
    display: block;
    align-items:flex-end;
    justify-content: space-between;
    text-align: center;
    background-color: #f0f0f0b7;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 25%;
    margin-left: 8%;
    margin-right: 8%;
}

#cabecera{
    background-color: rgba(255, 255, 255, 0.425);
}

#cabecera:first-child img{
    size: 80%;

}