$posicion: flex;

#cuadrado {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:3;
}

#titulo{
    display: flex;
    color: white;
}

#planetaInfo4{
    z-index: 11111111;
}
body{
    background-image: url('https://cdn.wallpapersafari.com/55/88/wlCyTI.jpg');
    height: 100vh;
    width:100vw;
    overflow: hidden;
}

#titulo{
    display: $posicion;
    justify-content: center;
}

#imagen{
    height: 80px;
    width: 80px;
}

#estrella{
  display: none;
} 

#menu{
    display:$posicion;
    justify-content:flex-end;
}

#menu > img {
    height: 80px;
    width: 120px;
    animation: zoomInOut 4s ease-in-out infinite;
  }

  @keyframes zoomInOut {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(0.5); 
    }
  }

.info{
    display: $posicion;
    margin: 30%;
    position: fixed;
}

.info > img {
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.habilidades{
    display: $posicion;
    margin-top: 15%;
    margin-left: 70%;
    position: fixed;
}

.habilidades > img {
    height: 160px;
    width: 160px;
}

.formacion{
    display: $posicion;
    margin-top: 5%;
    margin-left: 30%;
    position: fixed;
}

.formacion > img {
    height: 120px;
    width: 120px;
}

.experiencia{
    display: $posicion;
    position: fixed;
}

.experiencia > img {
    height: 100px;
    width: 100px;
    z-index: 1;
}


#dialogPlanetaInfo1 {
    display:flex;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#contenidoModal{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: large;
}

@font-face {
    font-family: 'WedgieRegular';
    src: url('wedgie Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Asul';
    src: url('Asul-Regular.ttf') format('truetype');
}

h1{
    font-family: 'WedgieRegular', sans-serif;
}

h2,p,ul,li{
    font-family: 'Asul', sans-serif;
}

/*  Media Query para móviles     */
@media only screen and (max-width: 768px){
   h1 {
        font-size: 16px; 
      }
    
      #menu > img,
      .info > img,
      .habilidades > img,
      .formacion > img,
      .experiencia > img {
        height: 50px; 
        width: 50px; 
      }
    }